name: Deployment

on:
  push:
    branches:
      - development
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          cd src
          npm ci
          npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: [test]
    defaults:
      run:
        working-directory: ${{ github.ref == 'refs/heads/main' && './terraform/prod' || './terraform/dev' }}
    steps:
      - uses: actions/checkout@v6
      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: 'httparchive'
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        id: apply
        run: |
          terraform apply -auto-approve
